@font-face {
    font-family: newtimes;
    src: url(fonts/times.woff2);
}

:root {
    --thin-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --bg: rgb(255, 255, 255);
    --light-secondary: #16A34A;
    --secondary: rgb(45, 96, 75);
    --mid-secondary: rgb(67, 135, 107);
    --lightest-secondary: #30d66d;
    --dark-secondary: #011e2b;
    --border: rgb(228, 228, 231);
    --light-color: #181818;
    --color: rgb(0, 0, 0);
    --thirdary: beige;
    --gray: rgb(0, 0, 0, 0.5);
}

html, body, .main {
    background-color: var(--bg);
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
}

button, button.opposite-btn:hover {
    background-color: var(--light-secondary) !important;
    border: solid transparent 1px !important;
    color: var(--bg) !important;
    border-radius: 2.5px;
    padding: 7.5px 25px;
    font-weight: 400;
    transition: 0.2s;
    font-size: 10px;
    border: none;
}

button.opposite-btn, button:hover, input {
    border: solid var(--light-secondary) 1px !important;
    color: var(--light-secondary) !important;
    background-color: var(--bg) !important;
}

label {
    font-family: var(--thin-font);
    color: var(--secondary);
    font-weight: 400;
    font-size: 11px;
    margin: 0 0px 2.5px 0px;

}

input {
    border: none !important;
    border-bottom: solid var(--mid-secondary) 2px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    font-size: 11px !important;    
    margin-bottom: 25px;
    transition: 0.2s;
}

::placeholder {
    color: var(--gray) !important;
}

input:focus {
    border: none !important;
    border-bottom: solid var(--lightest-secondary) 2px !important;
    box-shadow: none !important;
    outline: none !important;
}

.top-bar {
    border-bottom: solid var(--border) 1px;
    padding: 0 32px;
    height: 56px;
    width: 100%;
    color: var(--secondary);
}

.top-bar .logo-div {
    height: 56px;
}

.top-bar i {
    font-size: 26px;
}

.top-bar h1 {
    font-size: 16px;
    margin: 0;
}

.top-bar .navbar {
    justify-content: center;
    align-items: center;
    margin: 0 32px;
    display: flex;   
}

.top-bar .navbar a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 12px;
    margin: 0 12px;
}

.top-bar .navbar a:hover {
    text-decoration: underline;
    color: var(--color);
}

@media screen and (max-width: 1000px){
    .about-expand {
        max-width: 70%;
    }
}

@media screen and (max-width: 750px){
    .about-expand {
        max-width: 80%;
    }

    .navbar {
        display: none !important;
    }
}