:root {
    --bg: rgb(255, 255, 255);
    --light-secondary: #16A34A;
    --secondary: rgb(45, 96, 75);
    --dark-secondary: #011e2b;
    --border: rgb(228, 228, 231);
    --light-color: #181818;
    --color: rgb(0, 0, 0);
    --thirdary: beige;
    
}

html, body, .main {
    background-color: var(--bg);
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
}

button {
    background-color: var(--light-secondary);
    border-radius: 2.5px;
    padding: 7.5px 25px;
    font-weight: 400;
    color: var(--bg);
    transition: 0.2s;
    font-size: 10px;
    border: none;
}

button:hover {
    background-color: var(--secondary);
}

.top-bar {
    border-bottom: solid var(--border) 1px;
    padding: 0 32px;
    height: 56px;
    width: 100%;
    color: var(--secondary);
}

.top-bar i {
    font-size: 26px;
}

.top-bar h1 {
    font-size: 16px;
    margin: 0;
}

.top-bar .navbar {
    justify-content: center;
    align-items: center;
    margin: 0 32px;
    display: flex;   
}

.top-bar .navbar a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 12px;
    margin: 0 12px;
}

.top-bar .navbar a:hover {
    text-decoration: underline;
    color: var(--color);
}